
@model wedding_planner.Models.RegisterViewModel 
<h1>Sign up Form</h1>
<form asp-controller="Home" asp-action="CreateUser" method="POST">
    <br>
    <label asp-for="first_name"></label>
    <input asp-for="first_name"/>
    <br>
    <span asp-validation-for="first_name" class="text-danger"></span>
    <br>
    <label asp-for="last_name"></label>
    <input asp-for="last_name"/>
    <br>
    <span asp-validation-for="last_name" class="text-danger"></span>
    <br>
    <label asp-for="email"></label>
    <input asp-for="email"/>
    <br>
    <span asp-validation-for="email" class="text-danger"></span>
    <span class="text-danger">@TempData["error"]</span>
    <br>
    <label asp-for="password"></label>
    <input asp-for="password"/>
    <br>
    <span asp-validation-for="password" class="text-danger"></span>
    <br>
    <label asp-for="password_confirmation"></label>
    <input asp-for="password_confirmation"/>
    <br>
    <span asp-validation-for="password_confirmation" class="text-danger"></span>
    <br>
    <button type="submit">Register</button>
</form>


<h1>LogIn Form</h1>
<form action="/logIn" method="POST">
    <br>
    Email <input type="email" name="loginEmail">
    <br>
    <span class="text-danger">@TempData["email_error"]</span>
    <br>
    Password <input type="password" name="loginPassword">
    <br>
    <span class="text-danger">@TempData["psw_error"]</span>
    <br>
    <input type="submit" value="Login">
</form>